APP_NAME=rpi-button-touch
APP_VERSION=1.0.0
APP_ENV=local
APP_DEBUG=true

SERIAL_CODE=TEST0001
SECRET_CODE=TEST0001

SERVICE_API_URL=http://localhost:8000/api/test

JOB_RUNNER_ENABLED=true
JOB_REQUEST_INTERVAL_SECONDS=15
JOB_REQUEST_TIMEOUT_SECONDS=10

SIMULATE_GPIO=false

TEST_MODE=true
TEST_SERIAL_CODE=TEST0001
TEST_SECRET_CODE=TEST0001
TEST_PRODUCT_FUNCTION_CODE=PFN-MIRAICHANKWI
