APP_NAME=RpiButtonTouch
APP_VERSION=1.0.0
APP_ENV=local
APP_DEBUG=true

SERIAL_CODE=TEST0001
SECRET_CODE=TEST0001

SERVICE_URL=http://localhost:8000
SERVICE_TOKEN=

JOB_RUNNER_ENABLED=false
JOB_REQUEST_INTERVAL_SECONDS=15
JOB_REQUEST_TIMEOUT_SECONDS=10

TEST_SERIAL_NUMBER=TEST0001
TEST_SECRET=TEST0001
TEST_PRODUCT_FUNCTION_CODE=PFN-WRKWI2STAEYU
