APP_NAME=RpiButtonTouch
APP_ENV=local
APP_DEBUG=true

SERIAL_CODE=
SECRET_CODE=

SERVICE_URL=http://localhost:8000/api/test
SERVICE_TOKEN=

JOB_RUNNER_ENABLED=false
JOB_REQUEST_INTERVAL_SECONDS=15
JOB_REQUEST_TIMEOUT_SECONDS=10
